@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

:root {
  /* variables for colors */
  --color-white: #fff;
  --color-secondary-1: #040608;
  --color-secondary-2: #e3e1dc;
  --color-accent-1: #7f736a;
  --color-accent-2: #544439;
  --color-accent-3: #e0e0e0;

  /* font family */
  --ff-body: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%; /* 1rem = 16px */
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-body);
  font-size: 1.6rem;
}
